/config.php

/workspace/admin/logs/*.log

/workspace/site/logs/*.log

/workspace/sessions/*
!/workspace/sessions/.keep

/workspace/api/logs/*.log

/workspace/cli/crons/logs/*.log

/workspace/cli/scripts/logs/*.log
